@charset "utf-8";
@import url('reset.css');

body, html, #wrap { height:100% }
.row { max-width:1200px; margin:0 auto; 
    padding:0 10px }

.header-outer { background:rgba(0,0,0,0.5); 
    position:fixed; width:100%; z-index:99999;
}
#header { position:relative; height:116px  }
#header h1 { padding-top:40px }
#header .open-gnb { display:none }
#header .nav { position:absolute; 
    top:50%; right:0;
    transform:translateY(-50%); }
#header .nav .depth1 > li { display:inline-block }
#header .nav .depth1 > li > a { 
    font-size:18px; color:#fff;  
    padding:0px 30px; 
}

.outlayer { display:none;
    position:fixed; top:0; bottom:0;
    left:0; right:0;
    background:rgba(0,0,0,0.5);
    z-index:9999;
}
.outlayer.on { display:block }

.section-outer { height:100% }
.section-outer .section { height:100% }
.section-outer .section:nth-child(1) .slide-outer { height:100% }
.section-outer .section:nth-child(1) .slide-inner { height:100%;  }
.section-outer .section:nth-child(1) .slide { height:100%;
    background-size:cover; background-repeat:no-repeat;
    background-position:center;
}
.section-outer .section:nth-child(1) .slide1 {
    background-image:url(../img/mainslide01.jpg)
}
.section-outer .section:nth-child(1) .slide2 {
    background-image:url(../img/mainslide02.jpg)
}
.section-outer .section:nth-child(1) .slide3 {
    background-image:url(../img/mainslide03.jpg)
}


.section-outer .section:nth-child(2) {
    background:green
}
.section-outer .section:nth-child(3) {
    background:orange
}
.section-outer .section:nth-child(4) {
    background:violet
}